:root {
    --main-box-background: white;
    --text: #2b2b2b;
    --header: white;
    --h3: #b6e7db;
    --h3-shadow: #b392b9;
    --border: #968aff;
    --link: #968aff;
    --link-hover: #FFB5E1;
    --scrollbar: #968aff;
    --scrollbar-track: #968aff;
    --gradient-dark: #b5b5ff;
    --gradient-light: #f9dbff;
  }

  @font-face {
    font-family: ian;
    src: url(/fonts/2005_iannnnnAMD.ttf);
  }

  @font-face {
    font-family: handy;
    src: url(/fonts/handy00.ttf);
  }

  @font-face {
    font-family: pixelpoiiz;
    src: url(/fonts/pixelpoiiz.ttf);
  }

body{
    background-color: var(--main-box-background);
    /*font-family: 'FortySeven Micro NBP', sans-serif;*/
    font-family: 'Prompt';
    font-weight:300;
    font-size: 14px;
    background-image: url(/images/background.png);
    }

    b {
        font-weight: 600;
    }

    p {
        margin:0;
        padding:10px 0px;
    }
     
    #container{
        
     display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 900px;
    height: 802px;
    /*
    width: 807px;
    height: 802px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    */
    border: 1px solid var(--border);
    background-color: var(--main-box-background);
    padding: 3px;
    }
     
    #box{
    width: 904px;
    height: 800px;
    background-color: var(--main-box-background);
    border: 1px solid var(--border);
    }
     
    #header{
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--border);
    background-image: linear-gradient(to right, var(--gradient-dark), var(--gradient-light));
    color: var(--header);
    letter-spacing: 3px;
    }
     
    #header h1{
    margin: 0px;
    font-family: 'FortySeven Micro NBP', sans-serif;
    }
     
    #side{
    float: left;
    width: 195px;
    padding: 5px 0px 5px 13px;
    overflow-y: hidden;
    height: 668px;
    }
     
    .sidebox{
    border: 1px solid var(--border);
    margin: 0px 0px 15px 0px;
    }
     
    .sidecontent{
    padding: 0px 10px 0px 10px;
    color: var(--text);
    /*
    font-size: 17px;
    letter-spacing: 1px;*/
    }
     
    .sidecontent ul, li{
    margin: 0px;
    list-style-type: none;
    padding: 3px 0px;
    letter-spacing: 1px;
    }
     
    a{
    text-decoration: none;
    color: var(--link);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    }
     
    a:visited{
        color: var(--link);
    }
     
    a:hover{
    text-shadow: 0px 0px 2px var(--link-hover);
    color: var(--link-hover)
    }

    /*
    #scrollcontainer{
    padding: 5px;
    }
     
    #scrolly{
    overflow: scroll;
    overflow-x: hidden;
    width: 110px;
    height:110px;
    border: 1px solid var(--border);
    margin: 0 auto;
    text-align: center;
    }
     
    #scrollyheader{
    margin: 0px;
    border-bottom: 1px dotted var(--border);
    }
    */
     
    #main{
    float: right;
    width: 670px;
    height: 674px;
    padding: 5px 10px 5px 0px;
    overflow-y: scroll;
    }
     
    .mainboxes{
    border: 1px solid var(--border);
    padding: 0px;
    margin: 0px 0px 13px 0px;
    }
     
    .subheader{
    background-image: linear-gradient(to right, var(--gradient-dark), var(--gradient-light));
    border-bottom: 1px solid var(--border);
    padding: 3px;
    color: var(--header);
    letter-spacing: 3px;
    }
     
    .subheader h3{
    margin: 0px 0px 0px 4px;
    font-family: 'FortySeven Micro NBP', sans-serif;
    font-size: 18px;
    }
     
    .mainboxescontent{
    padding: 0px 15px 0px 15px;
    color: var(--text);
    line-height: 1.5;
    /*font-size: 17px;*/
    }

    .mainboxescontent h3{
        color:var(--h3);
        /*
        text-shadow: 1px 1px 1px var(--h3-shadow);
        */
        letter-spacing: 2px;
        margin: 15px 0px;
        font-size: 16px;
        font-weight: 500;
    }

    .mainboxescontent dt{
        letter-spacing: 1px;
    }

    .mainboxescontent dd{
        line-height: 1.5;
        margin: 5px 25px;
        display: list-item;
        list-style: square inside url("/images/arrow.gif");
        text-indent: -18px;
    }
     
    #footer{
    clear: both;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid var(--border);
    background-image: linear-gradient(to left, var(--gradient-dark), var(--gradient-light));
    color: var(--header);
    font-size: 14px;
    letter-spacing: 3px;
    text-align: right;
    height: 32px;
    }
     
    #footer h1{
    margin: 0px;
    font-family: 'FortySeven Micro NBP', sans-serif;
    }
    
    /* --- SCROLLBAR ---*/
         
    ::-webkit-scrollbar {
        background-color: transparent;
        height: auto;
        width:5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color:var(--scrollbar);
        border: 1px solid transparent;
        background-clip: content-box;
        border-radius:25px;
    }

    ::-webkit-scrollbar-track{
        display: none;
        background-color:var(--scrollbar-track);
        border: 2px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar:horizontal {
        height: 3px;
        width: auto;
    }

    ::-webkit-scrollbar-thumb:horizontal {
        background-color:var(--scrollbar);
        border: 1px solid transparent;
        background-clip: content-box;
        border-radius:25px;
    }

    ::-webkit-scrollbar-track:horizontal {
        background-color:var(--scrollbar-track);
        border: 2px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-button {
        background-color:none;
    }

    #credit{
    font-size: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
    }