/*----- variables -----*/

:root {
  --grid-size: 1.2em;
  --gap: 50px;
  --highlighter: 219, 138, 138;
  --dotSize: 4px;
  --colorCyan: cyan;
  --colorYellow: yellow;
  --colorMagenta: magenta;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1.2rem;
}

*::selection {
  background: rgba(var(--highlighter), 0.3);
}

body {
  background-image: linear-gradient(rgba(228, 228, 228, 0.4) 2px, transparent 1px), linear-gradient(90deg, rgba(228, 228, 228, 0.4) 2px, transparent 2px);
  background-size: 12px 12px;
}

main {
  display: grid;
  grid-template-columns: minmax(20%, 300px) 60px 1fr;
  grid-template-rows: 100vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  transition: 0.4s ease;
}

header {
  background: rgba(255, 214, 218, 1);
  /* background: rgb(255, 231, 233); */
  padding: 1em;
  text-align: center;
}

header::selection {
  color: white !important;
}

header a {
  white-space: nowrap
}

.frill {
  width: 100px;
  background: url("frill.gif") repeat-y;
  /* padding-top: 79.5px; */
}

.divider {
  display: none;
}

/* image gallery */

.gallery-image {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: scroll;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  /* overflow: hidden; */
  display: inline-block;
  color: white;
  position: relative;
}

.img-box img {
  height: 250px;
  width: auto;
  transition: 0.4s ease;
}

.img-box:hover img {
  transform: scale(1.1);
  opacity: 0.3;
}

.transparent-box {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /* width: 100%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  max-height: 100%;
  overflow-y: visible;
}

.img-box:hover .transparent-box,
.img-box:active .transparent-box {
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}


/* text styling */

h1,
h2 {
  font-family: "Beth Ellen", cursive;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.75em;
  line-height: 2.5em;
}

p,
.popup li {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.popup p {
  text-indent: 1rem;
}

a {
  font-size: unset;
  transition: .3s ease;

  &:hover,
  &:focus {
    color: rgb(219, 138, 138);
  }
}

header a:hover,
header a:focus {
  color: white;
}

ul {
  margin: 0.8rem 0;
}

li {
  list-style: none;
  margin: 0.8rem 1rem;
}

li:before {
  content: "*  ";
  left: 0.6rem;
  right: 0.6rem;
  top: 0;
}

/*----- modal -----*/

/* make toggle invisible */
.modal-toggle {
  height: 0;
  left: -9999rem;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  user-select: none;
  width: 0;
}

/* modal */
.modal {
  position: fixed;
  right: 0;
  top: 0;
  /* display: none; */
  /* overflow: hidden; */
  /* width: 0;
  height: 0; */
  z-index: 2;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  padding: 1rem;
  transition: opacity .3s ease;
}

/* modal is opened */
.modal-toggle:checked~.modal {
  /* z-index: 1; */
  opacity: 1;
  pointer-events: all;
  transition: all .3s ease;
  user-select: auto;
}

/* close on click on the overlay */
.modal-close::before {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

/* modal background is solved this way because of the overscroll */
body::before {
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0s ease .2s;
  z-index: -9999;
}

/* animation */
@keyframes open {
  0% {
    transform: scale(.8);
  }

  80% {
    transform: scale(1.01);
  }

  100% {
    transform: none;
  }
}

.modal-toggle:checked~.modal .popup {
  animation: open .5s ease-out;
}

/*----- modal styling -----*/

.popup {
  width: 95dvw;
  position: fixed;
  overflow-y: scroll;
  max-width: 68rem;
  max-height: 90svh;
  padding: 1em;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 8px 8px 0 rgba(253, 166, 166, 0.376);
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
  border: 4px solid #37353f;
}

/* dark mode */

@media (prefers-color-scheme: dark) {
  * {
    color: white;
  }

  body {
    background: #333;
    background-image: linear-gradient(rgba(79, 79, 79, 0.4) 2px, transparent 1px), linear-gradient(90deg, rgba(79, 79, 79, 0.4) 2px, transparent 2px);
    background-size: 12px 12px;
  }

  .popup {
    background: rgb(17, 17, 17);
    border: rgba(79, 79, 79, 1) 4px solid;
  }

  header h1,
  header p,
  header a {
    color: rgb(17, 17, 17);
  }

}

/* mobile */

@media screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    background: #f2bdbd;
  }

  .frill {
    /* display:none; */
    background: url("frillmobile.gif") repeat-x;
    width: 100%;
    height: 70px;
  }

  .gallery-image {
    overflow-y: auto;
  }

  /* give some more space for mobile users to close the modal */

  .modal {
    align-items: start;
  }

  .popup {
    max-height: 85svh;
  }
}