*.code-workspace
quartz/
old/
*.vscode
/codes/
/public/**/*.cmd
/public/**/*.sh
/public/**/*.md
/public/**/*.toml
/public/**/*.py
/public/**/*.tpl
/public/**/*.ani
/public/**/*.cur
*/.git
*.xcf
**/oblivion/
**/yakuza/