/* based on Sakura.css v1.5.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */

/*----- variables -----*/

:root {
  --text: #3b3b3b;
  --background: #f8f8f8;
  --pink-dark:rgb(250, 159, 250);
  --purple-dark:rgb(175, 136, 255);
  --green-dark:rgb(135, 216, 175);
  --blue-dark:rgb(94, 175, 254);
  --toc-shadow:rgba(0, 0, 0, 0.8);

  /*----- dark mode -----*/
  --text-dark: #a8a8a8;
  --background-dark: #1d1d1d;
  --pink-light:rgb(254, 175, 255);
  --purple-light:rgb(174, 175, 255);
  --green-light:rgb(136, 255, 175);
  --blue-light:rgb(96, 215, 255);
}

/*----- fonts -----*/

@font-face {
  font-family: 'seed';
  src: url('/fonts/SeeDComputer.woff2') format('woff2'),
      url('/fonts/SeeDComputer.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Press Start';
    src: url('/fonts/PressStartReg.woff2') format('woff2'),
        url('/fonts/PressStartReg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Body */
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  margin: auto;
  color: var(--text);
  background-color: var(--background);
  padding: 13px;
}

#container{
  display: flex;
  padding: 0;
  margin: 0 auto;
  top: 0;
  max-width: 1200px;
}

#TOC {
  position: sticky;
  top: 20%;
  height: 100%;
  margin-right: 3em;
  width: 250px;
  font-family: seed;
  font-size: 32px;
}

#TOC ul {
    margin: -6px 0 0 3px;
    padding: 0;
    list-style-type: none;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#TOC a{
    text-decoration: none;
    text-shadow: 1px 1px var(--toc-shadow);
}

#TOC li:hover::before{
    content: url("images/pointer.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    line-height: 1px;
}

.content {
  flex: 1;
  max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family:"Press Start";
  text-transform:uppercase;
  font-weight: 700;
  padding-top: 1em;
  clear: both;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 1em 0;
}

small, sub, sup {
  font-size: 75%;
}

hr {
  border-color: #1d7484;
}

a {
  text-decoration: none;
  color: var(--green-dark);
  &:hover {
    color: var(--pink-dark);
  }
}

b, strong {
  color: var(--purple-dark);
}

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid #1d7484;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}

blockquote p {
  margin-bottom: 0;
}

img, video {
  height: auto;
  max-width: 100%;
  margin: 1em 0;
}

/* Pre and Code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 0.9em;
}

code, kbd, samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

td, th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
input, textarea {
  border: 1px solid #4a4a4a;
}
input:focus, textarea:focus {
  border: 1px solid #1d7484;
}

textarea {
  width: 100%;
}

.button, button, input[type=submit], input[type=reset], input[type=button], input[type=file]::file-selector-button {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1d7484;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #1d7484;
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled], button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled], input[type=file]::file-selector-button[disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, input[type=file]::file-selector-button:hover {
  background-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}
.button:focus-visible, button:focus-visible, input[type=submit]:focus-visible, input[type=reset]:focus-visible, input[type=button]:focus-visible, input[type=file]::file-selector-button:focus-visible {
  outline-style: solid;
  outline-width: 2px;
}

textarea, select, input {
  color: #4a4a4a;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus, select:focus, input:focus {
  border: 1px solid #1d7484;
  outline: 0;
}

input[type=checkbox]:focus {
  outline: 1px dotted #1d7484;
}

label, legend, fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  body{
    color: var(--text-dark);
    background-color: var(--background-dark);
  }

  a {
    color: var(--green-light);
    &:hover {
      color: var(--pink-light);
    }
  }

  b, strong {
    color: var(--purple-light);
  }

  h1, h2, h3, h4, h5 {
    color: var(--background);
  }
}
 
@media (max-width:800px) {
  #TOC {
    float: none;
    position: fixed;
    text-align: right;
    top:80px;
    right:0;
    margin-right: 0;
    height: auto;
    max-height: 100%;
    transition:all .3s;
    transform:translate(270px);
    -ms-transform:translate(270px);
    -webkit-transform:translate(270px);
    z-index: 100;
    padding: 10px;
    background: var(--background);
  }

  .content {
    padding: 0 1em;
  }

  #TOC.open{
  transform:translate(0);
  -ms-transform:translate(0);
  -webkit-transform:translate(0);
  }

  .main {
    width: 100%;
    float: none;
  }

  #open{
    display:inline-block;
    margin:0 5px;
    position:fixed;
    text-align:center;
    height:60px;width:60px;
    top:0;right:0;
    z-index:1001;
  }

  #open-icon,#open-icon:before,#open-icon:after{
    background:var(--text-shadow);
  }

  #open-icon{
    display:block;
    margin:-1px 0 0 -10px;
    position:absolute;
    top:25px;
    left: 40px;
    height:2px;
    width:20px;
  }

  #open-icon:before,#open-icon:after{
    content:"";
    display:block;
    position:absolute;
    top:50%;
    left:0;
    height:2px;
    width:20px;
    transition:.3s
  }

  #open-icon:before{margin-top:-8px}

  #open-icon:after{margin-top:6px}

  #open .close{background:transparent}

  #open .close:before,#open .close:after{margin-top:0}

  #open .close:before{
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
    
  #open .close:after{
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
  }  

  @media (prefers-color-scheme: dark) {
    #TOC {
      background: rgba(29, 29, 29, 0.8);
    }

    #open-icon,#open-icon:before,#open-icon:after{
      background:var(--text-dark);
    }
  }
}