:root {
    --padding: 20px;
    --transition: all 0.5s ease;
    --section-width: 600px;
    --section-height: 400px;

    --backdrop-background-color: rgb(31, 31, 31);

    --card-background-color: white;
    --card-background-color-darkmode: rgb(70, 70, 70);
    --card-background-color-hover: rgb(47, 47, 47);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: calc(var(--padding) * 2) 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--padding) * 2) calc(var(--padding) * 10);
    justify-content: center;
    align-content: center;
    background-color: black;
}

section {
    display: grid;
    width: 80%;
    max-width: var(--section-width);
    height: var(--section-height);
    grid-template-columns: var(--padding) 1fr 3fr 6fr var(--padding);
    grid-template-rows: var(--padding) 0.5fr 6fr 2fr var(--padding) var(--padding);
    grid-auto-flow: row;
    transition: var(--transition);

    &:hover {
        .backdrop {
            transform: translate3d(calc(-1 * var(--padding)), calc(0.5 * var(--padding)), 0);
        }

        .card {
            transform: translate3d(calc(0.5 * var(--padding)), 0px, 0);
            background-color: var(--card-background-color-hover);
        }

        .quote {
            /* opacity: 0; */
        }

        .desc {
            /* opacity: 1; */
        }
    }
}

.backdrop {
    grid-area: 3 / 1 / 7 / 5;
    background-color: var(--backdrop-background-color);
    transition: var(--transition);
}

.card {
    grid-area: 2 / 3 / 5 / 6;
    background-color: var(--card-background-color);
    transition: var(--transition);
    z-index: 1;
}

.img {
    grid-area: 1 / 2 / 6 / 4;
    background-color: rgba(136, 223, 214, 0.493);
    z-index: 2;
}

.textbox {
    grid-area: 2 / 4 / 5 / 6;
    z-index: 3;
    padding: var(--padding);
    display: grid;
        overflow-y: scroll;

    &>* {
        grid-area: 1/1;
    }

    .quote {
        opacity: 1;
        /* transition: var(--transition); */
        padding: var(--padding);
        font-size: 1.3rem;
        color: black;
    }

    .desc {
        /* opacity: 0; */
        /* transition: var(--transition); */
        color: white;
        padding: 0;
    }
}

.name {
    grid-area: 4 / 4 / 5 / 6;
    margin: var(--padding);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 4;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    mix-blend-mode: exclusion;
    color: white;
    color: transparent;
    -webkit-text-stroke: 2px white;
    -webkit-font-smoothing: subpixel-antialiased; 
    /* firefox font smoothing */
    -moz-osx-font-smoothing:grayscale;
    backface-visibility: hidden;
    /* perspective: 1000px;
    transform-origin: 100% 100%; */
}

@media (prefers-color-scheme: dark) {
    :root {
        --card-background-color: var(--card-background-color-darkmode);
    }
}