body {
    background-image: url(background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

main {
  height: 100%;
  max-width: 70em;
  margin: 0 auto;
  padding: 80px;
  position: relative;
}

.window {
  margin: 0 auto;
}

.doll {
  position: absolute;
  bottom: 0;
  left: 0;
}