:root {
	/*-- fonts --*/
	--font-body: "Zen Kaku Gothic Antique", sans-serif;
	--font-code: "Overpass Mono", "Courier New", Courier, monospace;
	--font-heading: "Zen Antique Soft", serif;

	/*-- text size --*/
	--body-text-line-height: 1.7;
	--body-text-font-size: 1.2em;

	/*-- text colors --*/
	--color-main-text: #222;
	--color-link: #7cb8f0;
	--color-link-hover: rgb(240, 118, 195);
    --color-tag: #a1d16d;
	--color-bold: rgb(240, 118, 195);
	--color-italic: #877cdb;
	--color-code: rgba(187, 187, 187, 0.2);
    --color-marker: #ffffcc56;
    --color-shadow: #6200ff;
    --color-footer-hover: #6200ff;
    --color-blockquote-background: rgba(128, 128, 128, 0.082);
    --color-blockquote-border: rgb(135, 124, 219);
    --header-text-shadow: 0 0 0 rgb(240, 118, 195), 0 0 0 rgb(240, 118, 195), 0 0 0 rgb(240, 118, 195), 0 0 1px rgb(240, 118, 195),
      0 0 1px rgb(240, 118, 195), 0 0 1px rgb(240, 118, 195), 1px 0 20px rgb(240, 118, 195), 1px 0 20px rgb(240, 118, 195),
      1px 0 20px rgb(240, 118, 195), 1px 0 10px rgb(241, 78, 182), 1px 0 10px rgb(241, 78, 182),
      1px 0 50px rgb(241, 78, 182), 1px 0 50px rgb(241, 78, 182);


	/*-- page --*/
	--color-page-background: #a4afdf;
    --gutter:3em;

	/*-- boxes --*/
	--color-container-background: rgb(238, 238, 238);
    --pink-box-shadow: rgba(241, 78, 182, 0.4) 5px 5px, rgba(241, 78, 182, 0.3) 10px 10px, rgba(241, 78, 182, 0.2) 15px 15px, rgba(241, 78, 182, 0.1) 20px 20px, rgba(241, 78, 182, 0.05) 25px 25px;
    --purple-box-shadow: rgba(91, 85, 184, 0.4) 5px 5px, rgba(91, 85, 184, 0.3) 10px 10px, rgba(91, 85, 184, 0.2) 15px 15px, rgba(91, 85, 184, 0.1) 20px 20px, rgba(91, 85, 184, 0.05) 25px 25px;
    --pink-box-shadow-mobile: rgba(241, 78, 182, 0.4) 0px 5px, rgba(241, 78, 182, 0.3) 0px 10px, rgba(241, 78, 182, 0.2) 0px 15px, rgba(241, 78, 182, 0.1) 0px 20px, rgba(241, 78, 182, 0.05) 0px 25px;
    --purple-box-shadow-mobile: rgba(91, 85, 184, 0.4) 0px 5px, rgba(91, 85, 184, 0.3) 0px 10px, rgba(91, 85, 184, 0.2) 0px 15px, rgba(91, 85, 184, 0.1) 0px 20px, rgba(91, 85, 184, 0.05) 0px 25px;

	/*-- gradients --*/
    --sunset-gradient:linear-gradient(25deg, rgb(255, 111, 202) 0%,rgb(183, 113, 211) 42.86%,rgb(135, 124, 219) 100%);
    --sunset-gradient-transparent:linear-gradient(25deg, rgb(228, 140, 198, 0.5) 0%,rgb(201, 125, 201, 0.5) 42.86%,rgb(178, 149, 213, 0.5) 100%);
    --dusk-gradient:linear-gradient(25deg, rgb(135, 124, 219) 0%,rgb(136, 145, 201) 42.86%, rgb(126, 185, 240) 100%);
    --dusk-gradient-transparent:linear-gradient(25deg, rgb(147, 133, 209, 0.5) 0%,rgb(136, 145, 201, 0.5) 42.86%, rgb(126, 185, 240, 0.5) 100%);

	/*-- dark mode --*/
    --header-text-shadow-dark:0 0 0 rgb(117, 110, 214), 0 0 0 rgb(117, 110, 214), 0 0 0 rgb(117, 110, 214), 0 0 1px rgb(117, 110, 214),
    0 0 1px rgb(117, 110, 214), 0 0 1px rgb(117, 110, 214), 1px 0 20px rgb(117, 110, 214), 1px 0 20px rgb(117, 110, 214),
    1px 0 20px rgb(117, 110, 214), 1px 0 10px rgb(91, 85, 184), 1px 0 10px rgb(91, 85, 184),
    1px 0 50px rgb(91, 85, 184), 1px 0 50px rgb(91, 85, 184);
    --color-container-background-dark: #242327;
    --color-main-text-dark: rgb(190, 190, 190);
    --color-shadow-dark: #877cdb;
    --color-footer-hover-dark: #3f34d4;
    --color-marker-dark: #a0a07133;
}

/* zen-kaku-gothic-antique-latin-300-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-300-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* zen-kaku-gothic-antique-latin-400-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* zen-kaku-gothic-antique-latin-500-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-500-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* zen-kaku-gothic-antique-latin-700-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* zen-kaku-gothic-antique-latin-900-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-900-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* zen-kaku-gothic-antique-japanese-300-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-300-normal.woff) format('woff');
}

/* zen-kaku-gothic-antique-japanese-400-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-400-normal.woff) format('woff');
}

/* zen-kaku-gothic-antique-japanese-500-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-500-normal.woff) format('woff');
}

/* zen-kaku-gothic-antique-japanese-700-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-700-normal.woff) format('woff');
}

/* zen-kaku-gothic-antique-japanese-900-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/japanese-900-normal.woff) format('woff');
}

/* zen-kaku-gothic-antique-latin-ext-300-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-300-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* zen-kaku-gothic-antique-latin-ext-400-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-400-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* zen-kaku-gothic-antique-latin-ext-500-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-500-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* zen-kaku-gothic-antique-latin-ext-700-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-700-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* zen-kaku-gothic-antique-latin-ext-900-normal */
@font-face {
  font-family: 'Zen Kaku Gothic Antique';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-900-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/zen-kaku-gothic-antique@latest/latin-ext-900-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}


/* -- text styling -- */

html{
	background-color: var(--color-page-background);
	background-image: url(images/bg.png);
	background-position: bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
    top: 0;
    bottom: 0;
	font-size: var(--body-text-font-size);
	font-family: var(--font-body);
    line-height: var(--body-text-line-height);
}

body {
	margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
}

a {
    color: var(--color-link);
    text-decoration: none;
    background: var(--dusk-gradient), var(--sunset-gradient);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: all 400ms;
  }
  
  a:hover, a:active {
    background-size: 0 2px, 100% 2px;
    color: var(--color-link-hover);
    text-shadow: 0 0 5px var(--color-link-hover);
  }

  b, strong {
    font-weight: 900;
    color: var(--color-bold);
  }

  i, em {
    color: var(--color-italic);
  }

h1, h2, h3 {
	font-family: var(--font-heading);
}
h1 {
	font-size: 1.5em;
    font-weight: 600;
    background-image: var(--sunset-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
h2 {
	font-size: 1.2em;
	display: flex;
	align-items: center;
    padding-top: 0.3em;
}

h2::after {
	content: "";
	flex: 1;
	margin-top: 0.35em;
	margin-inline-start: 1rem;
	height: 2px;
	background: var(--sunset-gradient);
}
h3 {
	font-size: 1.3em;
    font-weight: 600;
    background-image: var(--dusk-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0;
    padding: 0;
}

.marker {
    background: var(--color-marker);
    background: -webkit-linear-gradient(transparent 60%, var(--color-marker) 0%);
    background: linear-gradient(transparent 70%, var(--color-marker) 0%)
  }

  blockquote{
    font-size: 1.1em;
    width:90%;
    max-width: fit-content;
    margin:1em auto;
    padding:1em 1em 1em 2em;
    border-left:8px solid var(--color-blockquote-border);
    line-height:2;
    position: relative;
    background:var(--color-blockquote-background);
  }
  
  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:var(--color-blockquote-border);
    font-size:4em;
    position: absolute;
    left: 0.2em;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }

  blockquote span {
	font-family: var(--font-heading);
    font-size: 1.2em;
  }

  blockquote q{
    background-image: var(--sunset-gradient);
    font-weight: 900;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  blockquote cite{
    font-style:italic;
    font-weight: 500;
    overflow: visible;
    background-image: var(--dusk-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    &::after {
        content: " ";
    }
  }

kbd,
code {
	border-radius: 0.2em;
	border-width: 0.15em;
	border-style: solid;
	border-color: var(--color-code);
	background-color: var(--color-code);
	font-family: var(--font-code);
}

.code-block {
	padding: 1em;
	background-color: var(--color-code);
	overflow-x: auto;
	tab-size: 4;
	font-family: var(--font-code);
}

figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  line-height: 1.3em;
  border: none;
  margin:0;
  padding:0;
  overflow: visible;
}

.right {
  float: right;
  margin-left: 1em;
  max-width: 40%;
}

.left {
  float: left;
  margin-right: 1em;
  max-width: 40%;
}

/* -- layout -- */

.primary {
	display: flex;
    column-gap: calc(var(--gutter));
    padding: 0 var(--gutter);
    margin: 0;
    top: 0;
}

/* -- sidebar -- */

.sidebar  {
    position: sticky;
    top: var(--gutter);
    width: 30%;
    max-width: 450px;
    height: 100%;
    margin-bottom: var(--gutter);
    vertical-align: middle;
    background-color: var(--color-container-background);
    box-shadow: var(--pink-box-shadow);
    padding: 1em;
    box-sizing: border-box;
}

.bio {
    font-size: 0.9em;
    vertical-align: middle;
}

.goback {
    margin-top: 0.5em;
}

.goback img{
    padding: 0;
    vertical-align:middle;
    margin-top: -1px;
}

/* -- main -- */
  
main {
    flex: 1;
    box-sizing: border-box;
}

article {
    box-shadow: var(--pink-box-shadow);
    background-color: var(--color-container-background);
    text-align: left;
    margin-bottom: var(--gutter);
    padding: 2em;
    box-sizing: border-box;
}

.post-header {
    font-size: 1.2em;
	font-family: var(--font-heading);
}

time {
    text-align: left;
    display: inline;
    text-transform: lowercase;
}
.post-number{
    display: inline;
    float: right;
}
.hashtag {
    color: var(--color-tag);
    font-weight: 500;
}
.message {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 1em;
    position: relative;
}
.message p {
    text-indent: 2em;
    padding: 0;
    line-height: 1.9;
    font-size: 1.1em;
}

.buttons {
    margin:0;
    padding: 0;
    clear: both;
}

article .wrapper {
    margin-top:2%;
    display: inline-block;
}
article .wrapper .last-updated,
article .wrapper .post-count {
    font-size: 1em;
    color:grey;
}
article .short-bio{
    padding-left: 3%;
    padding-right: 2%;
    font-style: italic;
    word-wrap: break-word;
}
article img, p img {
    max-width: 100%;
    height: auto;
    image-rendering: initial;
}

.primary:after {
    display: table;
    clear: both;
}

/* -- header -- */

header {
    color: white;
    font-family: "Neonderthaw", cursive;
    font-weight: 400;
    text-align: center;
    font-size: 5em;
    margin: calc(var(--gutter) / 15) calc(var(--gutter) / 5);
    text-shadow: var(--header-text-shadow);
    animation: text-flicker 7s linear infinite;
}

.offset {
  animation: letter-flicker 3s linear infinite;
}

.offset2 {
  animation: letter-flicker 5s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:1;
  }
  20% {
    opacity:0.4;
  }
  24% {
    opacity:0.5;
  }
  30% {
    opacity:1;
  }
  32% {
    opacity:0.5;
  }
  40% {
    opacity:1;
  }
  55% {
    opacity:0.6;
  }
  60% {
    opacity:1;
  }
  
  70% {
    opacity:0.7;
  }
  
  72% {
    opacity:0.5;
  }
  
  77% {
    opacity:.9;
  }
  100% {
    opacity:.9;
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.5;
  }
  2% {
    opacity:0.8;
  }
  4% {
    opacity:1;
  }
  19% {
    opacity:1;
  }
  21% {
    opacity:0.7;
  }
  23% {
    opacity:1;
  }
  
  80% {
    opacity:1;
  }
  83% {
    opacity:0.6;
  }
  87% {
    opacity:1;
  }
}

#mobilenav {
    display: none;
}

/* -- footer -- */

footer {
	background-image:var(--sunset-gradient-transparent);
    padding: 0.8em;
    margin: 0 var(--gutter)var(--gutter)var(--gutter);
	font-family: var(--font-heading);
    box-shadow: var(--purple-box-shadow);
}
footer a{
    color: white;
    background: unset;
	text-shadow: 0 0 3px var(--color-shadow);
    &:hover, &:active{
        color:var(--color-footer-hover);
        text-shadow: 0 0 3px white;
    }
}


@media only screen and (max-width: 900px) {

    #mobilenav {
        display: block;
        position: fixed;
        top: 0;
        z-index: 33;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        background-image:var(--sunset-gradient);
        padding: .2em;
        & a {
            color: white;
            background: unset;
            text-shadow: 0 0 3px var(--color-shadow);
        }
    }
    
    .primary{
        flex-direction: column;
        row-gap: calc(var(--gutter) * 1);
        padding: 0;
    }

    .sidebar  {
        width: 100%;
        max-width: 100%;
        position: relative;
        top: 0;
        margin-bottom: 0;
        font-size: 1.2em;
    }

    html {
        font-size: calc(var(--body-text-font-size) * .8);
    }

    article, .sidebar, #mobilenav {
        box-shadow: var(--pink-box-shadow-mobile);
    }

    article {
        padding: 1em;
    }

    header {
        margin: calc(var(--gutter) / 4) 0 calc(var(--gutter) / 5) 0;
        clear: both;
        position: relative;
        overflow: hidden;
    }

    footer {
        border-bottom: none;
        margin: 0;
    }
}

@media (prefers-color-scheme: dark) {

    html {
        color: var(--color-main-text-dark); 
    }

    .sidebar, article {
        background-color: var(--color-container-background-dark);
        box-shadow: var(--purple-box-shadow);
    }

	h2::after {
        background: var(--dusk-gradient);
	}

    header {
      text-shadow: var(--header-text-shadow-dark);
    }

    footer{
        background-image:var(--dusk-gradient-transparent);
        box-shadow: var(--purple-box-shadow);
        & a {
        color: black;
	    text-shadow: 0 0 3px var(--color-shadow-dark);
        }
    }

    footer a:hover, footer a:active{
        color:var(--color-footer-hover-dark);
    }

    #bgfilter{
        width: 100dvw;
        height: 100dvh;
        background-color: #0d1247ad;
        position: fixed;
        margin: 0;
        padding: 0;
        top: 0;
        z-index: -10;
    }

    img {
        opacity: 0.8;
        transition: all 400ms;
        &:hover, &:active{
            opacity: 1;
        }
    }

    .marker {
        background: var(--color-marker-dark);
        background: -webkit-linear-gradient(transparent 60%, var(--color-marker-dark) 0%);
        background: linear-gradient(transparent 70%, var(--color-marker-dark) 0%)
      }

    @media only screen and (max-width: 900px) {

        #mobilenav {
            background-image: var(--dusk-gradient);
            & a {
                color: black;
                text-shadow: 0 0 3px var(--color-shadow-dark);
            }
        }

        .sidebar, article, #mobilenav {
            box-shadow: var(--purple-box-shadow-mobile);
        }

    }
}

@media (prefers-reduced-motion) {
  * {
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
  header, .offset, .offset2 {
    animation: none;
  }
}
