:root {
	/*-- fonts --*/
	--font-body: "Zen Kaku Gothic Antique", sans-serif;
	--font-code: "Overpass Mono", "Courier New", Courier, monospace;
	--font-heading: "Zen Antique Soft", serif;

	/*-- text size --*/
	--body-text-line-height: 1.7;
	--body-text-font-size: 1.25em;

	/*-- text colors --*/
	--color-main-text: #222;
	--color-link: #7cb8f0;
    --color-tag: #a1d16d;
	--color-bold: #d478d4;
	--color-italic: #877cdb;
	--color-code: #bbb;
    --color-marker: #ffffcc56;
    --color-shadow: #6200ff;
    --color-footer-hover: rgb(120, 255, 255);
    --color-blockquote-background: rgba(128, 128, 128, 0.082);
    --color-blockquote-border: rgb(178, 149, 213);


	/*-- page --*/
	--color-page-background: #a4afdf;
    --gutter:3em;

	/*-- boxes --*/
	--border: rgb(51, 51, 51);
	--color-container-background: rgb(238, 238, 238);

	/*-- gradients --*/
    --sunset-gradient:linear-gradient(25deg, rgb(228, 140, 198) 0%,rgb(201, 125, 201) 42.86%,rgb(178, 149, 213) 100%);
    --sunset-gradient-transparent:linear-gradient(25deg, rgb(228, 140, 198, 0.5) 0%,rgb(201, 125, 201, 0.5) 42.86%,rgb(178, 149, 213, 0.5) 100%);
    --dusk-gradient:linear-gradient(25deg, rgb(147, 133, 209) 0%,rgb(136, 145, 201) 42.86%, rgb(126, 185, 240) 100%);
    --dusk-gradient-transparent:linear-gradient(25deg, rgb(147, 133, 209, 0.5) 0%,rgb(136, 145, 201, 0.5) 42.86%, rgb(126, 185, 240, 0.5) 100%);

	/*-- dark mode --*/
	--color-container-background-dark: #242327;
	--color-main-text-dark: rgb(190, 190, 190);
	--border-dark: rgb(126, 185, 240, 0.8);
    --color-shadow-dark: #6268ac;
    --color-footer-hover-dark: #e4a2ce;
    --color-marker-dark: #a0a07133;
}

/* -- text styling -- */

html{
	background-color: var(--color-page-background);
	background-image: url(images/bg.png);
	background-position: bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
    top: 0;
    bottom: 0;
	font-size: var(--body-text-font-size);
	font-family: var(--font-body);
    line-height: var(--body-text-line-height);
}

body {
	margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
}

a {
    color: var(--color-link);
    text-decoration: none;
  }
  
  a {
    background: 
        var(--dusk-gradient), var(--sunset-gradient);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: all 400ms;
  }
  
  a:hover, a:active {
    background-size: 0 2px, 100% 2px;
  }

  b, strong {
    color: var(--color-bold);
  }

  i, em {
    color: var(--color-italic);
  }

h1,
h2,
h3 {
	font-family: var(--font-heading);
    margin: 0;
    padding: 0;
}
h1 {
	font-size: 1.5em;
    font-weight: 600;
  background-image: var(--sunset-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
h2 {
	font-size: 1.2em;
	display: flex;
	align-items: center;
}
h2::after {
	content: "";
	flex: 1;
	margin-top: 0.35em;
	margin-inline-start: 1rem;
	height: 1px;
	background-color: var(--border);
}
h3 {
	font-size: 1.3em;
    font-weight: 600;
  background-image: var(--dusk-gradient);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.marker {
    background: var(--color-marker);
    background: -webkit-linear-gradient(transparent 60%, var(--color-marker) 0%);
    background: linear-gradient(transparent 70%, var(--color-marker) 0%)
  }

  blockquote{
    font-size: 1.1em;
    width:90%;
    max-width: fit-content;
    margin:1em auto;
    padding:1em 1em 1em 2em;
    border-left:8px solid var(--color-blockquote-border);
    line-height:2;
    position: relative;
    background:var(--color-blockquote-background);
  }
  
  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:var(--color-blockquote-border);
    font-size:4em;
    position: absolute;
    left: 0.2em;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }

  blockquote span {
	font-family: var(--font-heading);
    font-size: 1.2em;
  }

  blockquote q{
    background-image: var(--sunset-gradient);
    font-weight: bold;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  blockquote cite{
    background-image: var(--dusk-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

kbd,
code {
	border-radius: 0.2em;
	border-width: 0.2em;
	border-style: solid;
	border-color: var(--color-code);
	background-color: var(--color-code);
	font-family: var(--font-code);
}
.code-block {
	padding: 1em;
	background-color: var(--color-code);
	overflow-x: auto;
	tab-size: 4;
	font-family: var(--font-code);
}

figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  line-height: 1.3em;
  border: none;
  margin:0;
  padding:0;
  overflow: visible;
}

.right {
  float: right;
  margin-left: 1em;
  max-width: 40%;
}

.left {
  float: left;
  margin-right: 1em;
  max-width: 40%;
}

/* -- layout

.row{
    display: flex;
    column-gap: calc(var(--gutter));
    padding: 0 var(--gutter);
    margin: 0;
    top: 0;
}

.sidebar {
    position: sticky;
    top: var(--gutter);
    max-width: 450px;
    height: 100%;
    width: 30%;
    margin-bottom: var(--gutter);
}

.timeline {
    flex: 1;
} -- */

/* LAYOUT */
.primary {
	display: flex;
    column-gap: calc(var(--gutter));
    padding: 0 var(--gutter);
    margin: 0;
    top: 0;
}

.primary > :first-child  {
    position: sticky;
    top: var(--gutter);
    max-width: 450px;
    height: 100%;
    width: 30%;
    margin-bottom: var(--gutter);
}
  
  .primary > :last-child {
    flex: 1;
}

article {
    border: 1px solid var(--border); 
    background-color: var(--color-container-background);
    text-align: left;
    margin-bottom: var(--gutter);
    padding: 2em;
}
.post-header {
    font-size: 1.2em;
	font-family: var(--font-heading);
}

time {
    text-align: left;
    display: inline;
    text-transform: lowercase;
}
.post-number{
    display: inline;
    float: right;
}
.hashtag {
    color: var(--color-tag);
    font-weight: bold;
}
.message {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 1em;
    position: relative;
}
.message p {
    text-indent: 2em;
    padding: 0;
    line-height: 1.9;
    font-size: 1.1em;
}
.buttons {
    margin:0;
    padding: 0;
    clear: both;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.sidebar aside {
    vertical-align: middle;
    border: 1px solid var(--border); 
    background-color: var(--color-container-background);
}
.sidebar aside .handle{
    font-size: 1.1em;
    font-weight: bold;
}
.sidebar aside .email{
    font-size: 0.8em;
    text-align:left;
    text-decoration:none;
}
.sidebar aside .bio {
    font-size: 0.9em;
    vertical-align: middle;
    margin: 1em
}
article .avatar {
    margin-left:3%;
    margin-top:2%;
    height: 4em;
    width:auto;
    vertical-align:top;
}
article .wrapper {
    margin-top:2%;
    display: inline-block;
}
article .wrapper .last-updated,
article .wrapper .post-count {
    font-size: 1em;
    color:grey;
}
article .short-bio{
    padding-left: 3%;
    padding-right: 2%;
    font-style: italic;
    word-wrap: break-word;
}
article img {
    max-width: 100%;
    image-rendering: initial;
    z-index: 10;
    position:relative;
}
/* Clear floats after the columns */
.primary:after {
    display: table;
    clear: both;
}

header, footer{
	background-image:var(--sunset-gradient-transparent);
    border: solid 1px var(--border);
    padding: 0.8em;
}

header {
    margin: calc(var(--gutter) / 1.5);
    font-weight: 800;
    font-size: 1.5em;
    color: white;
	text-shadow: 0 0 3px var(--color-shadow);
}

footer {
    margin: 0 var(--gutter)var(--gutter)var(--gutter);
	font-family: var(--font-heading);
}

footer a{
    color: white;
    background: unset;
	text-shadow: 0 0 3px var(--color-shadow);
    &:hover, &:active{
        color:var(--color-footer-hover);
    }
}

.avatar, .handle {
    display: none;
}

#mobilenav {
    display: none;
}


@media only screen and (max-width: 900px) {

    #mobilenav {
        display: block;
        position: fixed;
        top: 0;
        z-index: 33;
        text-align: center;
        width: 100%;
        background-image:var(--sunset-gradient);
        border: solid 1px var(--border);
        padding: .2em;
        & a {
        color: white;
        background: unset;
        text-shadow: 0 0 3px var(--color-shadow);
        }
    }
    
    .primary{
        flex-direction: column;
        row-gap: calc(var(--gutter) * 1);
        padding: 0;
    }

    .primary > :first-child  {
        width: 100%;
        max-width: 100%;
        position: relative;
        top: 0;
        margin-bottom: 0;
    }

    html {
        font-size: calc(var(--body-text-font-size) * .8);
    }

    header, footer {
        margin: 0;
    }

    article, .sidebar aside, header, footer {
        border-left: none;
        border-right: none;
    }

    article {
        padding: 1em;
    }

    header {
        margin: calc(var(--gutter) * 1.3) 0 calc(var(--gutter) / 1.5) 0;
        clear: both;
        position: relative;
    }

    footer {
        border-bottom: none;
    }
}

@media (prefers-color-scheme: dark) {
    html{
        color: var(--color-main-text-dark); 
    }

    .sidebar aside, article {
        border: 1px solid var(--border-dark); 
        background-color: var(--color-container-background-dark);
    }

	h2::after{
		background-color: var(--border-dark);
	}

    header, footer{
        background-image:var(--dusk-gradient-transparent);
        border: solid 1px var(--border-dark);
    }

    header, footer a {
        color: black;
	    text-shadow: 0 0 3px var(--color-shadow-dark);
    }

    footer a:hover, footer a:active{
        color:var(--color-footer-hover-dark);
    }

    #bgfilter{
        width: 100dvw;
        height: 100dvh;
        background-color: #0d1247ad;
        position: fixed;
        margin: 0;
        padding: 0;
        top: 0;
        z-index: -10;
    }

    img {
        opacity: 0.8;
        transition: all 400ms;
        &:hover, &:active{
            opacity: 1;
        }
    }

    .marker {
        background: var(--color-marker-dark);
        background: -webkit-linear-gradient(transparent 60%, var(--color-marker-dark) 0%);
        background: linear-gradient(transparent 70%, var(--color-marker-dark) 0%)
      }

    @media only screen and (max-width: 900px) {

        #mobilenav {
            background-image: var(--dusk-gradient);
            border-bottom: solid 1px var(--border-dark);
            & a {
                color: black;
                text-shadow: 0 0 3px var(--color-shadow-dark);
            }
        }

        .sidebar aside, article, header {
            border-left: none;
            border-right: none;
        }

        footer {
            border-left: none;
            border-right: none;
            border-bottom: none;
        }

    }
}