 .collapsible {
    cursor: pointer;
    width: 100%;
    padding: 4px 0px 4px 4px;
 }
 
 .active, .collapsible:hover {
 }
 
 .content {
    /* uncomment when done adding content so starts collapsed*/
   display: none;
   overflow: hidden;
 }

 .collapsible:before {
    content: url("/resources/images/plus.png");
    display: inline-block;
    margin-left: 3px;
    margin-right: 2px;
}

.active:before {
    content: url("/resources/images/min.png");
}

 button {
    cursor: pointer;
    width: 100%;
    display: inline;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
}

button:focus {
}

button:active {
}

