/*----- variables -----*/

:root {
  --text: #f0f0f0;
  --text-dark: #dddddd;
  --text-shadow: black;
  --link: #ff92c1;
  --link-hover: #97ffff;
  --link-hover-background: none;
  --bold: #5fe4f8;
  --italic: rgba(128, 66, 155, 0.8);
  --marker: rgba(110, 110, 110, 0.5);
  --links-color: #ffffff;
  --window-title:rgb(255, 255, 255);
  --window-border: #777777;
  --highlight-text: #c1f0ff;
  --highlight-background: #00000000;
  --h2-underline:#5fe4f8;
  --h3-color:rgb(37, 37, 37);
  --h3-background: #c5ffae;

  /*----- scrollbar -----*/
  --scrollbar: #b5b5ff;
  --scrollbar-width: 0px;
}

/*----- base formatting -----*/

html,
body,
span,
iframe,
h1,
h2,
h3,
h4,
p,
pre,
del,
em,
img,
picture,
source,
b,
i,
dl,
dt,
dd,
form,
table,
tbody,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  backface-visibility: hidden;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/*----- fonts -----*/

@font-face {
  font-family: 'Rodin';
  src: url('/fonts/FOT-Rodin\ Pro\ M.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rodin';
  src: url('/fonts/FOT-RodinProN-EB.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'seed';
  src: url('/fonts/SeeDComputer.woff2') format('woff2'),
      url('/fonts/SeeDComputer.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'casual';
  src: url('/fonts/BitCasual.woff2') format('woff2'),
      url('/fonts/BitCasual.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'maru';
  src: url('/fonts/x12y16pxMaruMonica.woff2') format('woff2'),
      url('/fonts/x12y16pxMaruMonica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ibm-plex-sans-thai-300 - latin_latin-ext_thai */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/ibm-plex-sans-thai-v10-latin_latin-ext_thai-300.woff2') format('woff2');
}

/* ibm-plex-sans-jp-300 - japanese_latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans JP';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/ibm-plex-sans-jp-v5-japanese_latin-300.woff2') format('woff2');
}


/*----- text highlight -----*/

::selection {
  color: var(--highlight-text);
  background: var(--highlight-background);
}

::-moz-selection {
  color: var(--highlight-text);
  background: var(--highlight-background);
}

/*----- webkit scrollbar -----*/

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: 0;
  background-color: var(--main-box-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--main-box-background);
  border-radius: var(--scrollbar-width);
}

::-webkit-scrollbar-corner {
  background: var(--main-box-background);
}

/*----- body -----*/

body{
  font-family: "Rodin", 'IBM Plex Sans Thai', 'IBM Plex Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.7em;
  text-align: justify;
  color: var(--text);
  text-shadow: 1px 1px 1px var(--text-shadow);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  margin: 0px;
  padding: 0px;
  width: 100dvw;
  height: 100dvh;
  overflow-y: hidden;
}

#page{
  margin: 0px;
  padding: 0px;
  width: 100dvw;
  height: 100dvh;
  background-image: url(images/bg.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: -10;
}

a {
  color: var(--link);
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--link-hover);
  background: var(--link-hover-background);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1 {
  font-family: casual;
  text-shadow: 2px 2px var(--text-shadow);
  -webkit-font-smoothing: subpixel-antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: geometricPrecision;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
}

h2,
.h2 {
  font-family: maru;
  text-shadow: 2px 2px var(--text-shadow);
  -webkit-font-smoothing: subpixel-antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: geometricPrecision;
  font-size: 24px;
  line-height: 24px;
  margin:0 0 12px 0;
  text-decoration: underline solid 3px var(--h2-underline);
}

h3,
.h3 {
  line-height: 2em;
  text-align: right;
  vertical-align: middle;
  padding: 3px 8px;
  color: var(--h3-color);
  background-color: var(--h3-background);
  margin: 4px 0;
  text-shadow: none;
}

dt {
  color: #acd177;
  float: left;
  clear: both;
  margin: 0 0 5px;
  width: 12em;
}

dd {
  border-bottom: dotted 1px #999;
  margin: 0 0 5px 13em
}

em, i {
  background: var(--italic);
  /* Ie9 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--italic)), color-stop(0.79, var(--italic)), color-stop(0.8, var(--italic)), color-stop(1, var(--italic)));
  background: -webkit-linear-gradient(transparent 80%, var(--italic) 0%);
  background: linear-gradient(transparent 80%, var(--italic) 0%);
}

b, strong {
    color: var(--bold);
    font-weight: 700;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  height: 1px
}

.marker {
  text-shadow: 1px 1px 1px var(--text-shadow), 1px 1px 0px var(--text-shadow);
  background: var(--marker);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--marker)), color-stop(0.59, var(--marker)), color-stop(0.6, var(--marker)), color-stop(1, var(--marker)));
  background: -webkit-linear-gradient(transparent 60%, var(--marker) 0%);
  background: linear-gradient(transparent 60%, var(--marker) 0%)
}

p {
    margin: 0;
    padding: 0px;
    text-indent: 2em;
}

iframe {
	border: none;
	height: 100%;
	width: 100%;
}

img, picture, source {
	max-width: 100%;
}

figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  line-height: 1.1em;
  border: none;
  margin:0;
  padding:0;
  overflow: visible;
}

.right {
  float: right;
  margin-left: 10px;
  width: 30%;
}

.left {
  float: left;
  margin-right: 10px;
  width: 30%;
}

/*----- layout structure -----*/

.container {
	margin: auto;
	width: 1060px;
	height: 100%;
  z-index: 2!important;
  position: relative;
}

#sidebar {
  z-index: 5!important;
	float: left;
	width: 231px;
	height: 100%;
  font-family: seed;
  font-size: 24px;
  line-height: 24px;
  text-shadow: 2px 2px var(--text-shadow);
  text-align: left;
}

.stats,
.links,
.stamps,
.blinkies,
.main2 {
    background: url('images/boxbg.jpg'); 
    background-color: gray;
    border-radius: 20px;
    border: 4px ridge var(--window-border);
}

.stats {
    margin-top: 50px;
    line-height: 22px;
    z-index: 5!important;
}

.stats img {
    float: left;
    margin: 0 15px 0 3px;
}

.stats p {
    padding: 0;
    margin: 0px 0 5px 0;
}

.stats-title,
.links-title,
.stamps-title,
.blinkies-title,
.main-title {
    color: var(--window-title);
    text-shadow: 2px 2px var(--text-shadow);
    margin: -27px 0 0 11px;
    font-family: seed;
    font-size: 32px;
}

.main-title h1 {
  all: unset;
}

.stats-title {
  margin: -26px 0 0 11px;
}


.links,
.stamps,
.blinkies {
    margin-top: 30px;
}

.stats-content,
.links-content,
.stamps-content,
.blinkies-content {
    padding: 10px 10px 8px 10px;
}

.stats-content p{
  text-indent: 0;
}

.links-content ul {
    margin: -6px 0 0 3px;
    padding: 0;
    list-style-type: none;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.links-content a{
    text-decoration: none;
}

.links-content li:hover::before{
    content: url("images/pointer.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    line-height: 1px;
}

.links-content img {
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
}

.links a {
    color: var(--links-color);
}

.main-content {
    margin: 15px;
    height: calc(100% - 27px);
}

.stamps-content, .blinkies-content, .main-content{
    overflow-y: scroll;
    scrollbar-width: none;
}

.stamps-content::-webkit-scrollbar, .blinkies-content::-webkit-scrollbar, .main-content::-webkit-scrollbar {
    display: none;
}

.stamps-content{
    height: 180px;
    margin: 5px 2px 1px 2px;
    padding: 0;
    text-align: center;
    line-height: 0;
    font-size:0;
}

.blinkies-content{
    height: 120px;
    margin: 5px 2px 1px 2px;
    padding: 0;
    text-align: center;
    line-height: 0;
    font-size:0;
}

.stamps img, .stamps picture, .stamps source{
    display: inline;
    padding: 0;
    margin: 0;
    width: 99px;
    object-fit: none;
}

.blinkies picture, .blinkies img, .blinkies source{
    display: inline;
    width: 150px;
    padding: 0;
    margin: 0;
}

main {
	float: right;
	width: 788px;
	height: 100%;
    position: relative;
}

.main2 {
    margin-top: 50px;
    height: 80%;
    position: absolute;
    width: calc(100% - 9px);
    overflow: visible;
}

.main2 ul{
  margin: 0 0 0 0px;
  padding: 0 0 0 0rem;
  list-style-type: none;
}

.main2 li:before{
  content: url(images/heartblue.gif);
  position: relative;
  top: -2px;
  margin-right: 10px;
}

.lying {
  position: absolute; 
  top: 0; 
  left: 10px; 
  height: 80%;
  z-index: 0;
}

.rei {
  position: absolute; 
  bottom: 0; 
  right: 0;
  z-index: 3;
  width: 30%;
  max-width: 532px;
  min-width: 300px;
}

@media only screen and (max-width: 800px) {
  .lying{
    height: 100%;
  }

  .rei {
    display: none;
  }

  .container {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
  }

  #sidebar {
    float: none;
    position: fixed;
    top:0;right:0;
    max-height: 100%;
    overflow-y: scroll;
    transition:all .3s;
    transform:translate(251px);
    -ms-transform:translate(251px);
    -webkit-transform:translate(251px);
    z-index: 100;
    padding: 0 10px;
  }

  #sidebar.open{
  transform:translate(0);
  -ms-transform:translate(0);
  -webkit-transform:translate(0);
  }

  main {
    width: 100%;
    float: none;
  }

  #open{
    display:inline-block;
    margin:0 5px;
    position:absolute;
    text-align:center;
    height:60px;width:60px;
    top:0;right:0;
    z-index:1001;
  }

  #open-icon,#open-icon:before,#open-icon:after{
    background:var(--text-shadow);
  }

  #open-icon{
    display:block;
    margin:-1px 0 0 -10px;
    position:absolute;
    top:25px;
    left: 40px;
    height:2px;
    width:20px;
  }

  #open-icon:before,#open-icon:after{
    content:"";
    display:block;
    position:absolute;
    top:50%;
    left:0;
    height:2px;
    width:20px;
    transition:.3s
  }

  #open-icon:before{margin-top:-8px}

  #open-icon:after{margin-top:6px}

  #open .close{background:transparent}

  #open .close:before,#open .close:after{margin-top:0}

  #open .close:before{
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
    
  #open .close:after{
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
  }  
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-dark);
  }
  
  #page {
    background-color: rgb(10, 27, 47, 0.7);
    background-blend-mode:multiply;
  }

.stats,
.links,
.stamps,
.blinkies,
.main2 {
    background-color: rgba(128, 128, 128, 0.671);
    background-blend-mode:multiply;
}

  img {
    opacity: 0.8;
    transition: all 0.3s;
  }
  img:hover {
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .main2 li:before{
    content: url(images/heartblue.png);
  }
}