/* variables */

:root{
    /* grid */
    --gird-width:40px;
    --gird-height:40px;
    --line-color:#0a30ad75;

    /* colors */
    --pink:#ff53e1;
    --orange:#ffaf0a;
    --yellow:#fdf701;
    --green:#02fe6e;
    --teal:#0ec8a0;
    --blue:#43cfff;
    --purple:#82a0f0;
  }

  /* fonts */

  /* devil-summoner-semi-italic by iconian fonts: https://www.dafont.com/devil-summoner.font */
@font-face {
	font-family: "Devil Summoner";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/devil-summoner-semi-italic.woff2) format("woff2"), url(/fonts/devil-summoner-semi-italic.woff) format("woff");
	font-display: swap;
}

@font-face {
  font-family: "Rodin";
  src: url("/fonts/FOT-RodinProN-DB.otf") format("opentype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Rodin";
  src: url("/fonts/FOT-Rodin\ Pro\ M.woff") format("woff");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Rodin";
  src: url("/fonts/FOT-RodinProN-EB.otf") format("opentype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: maru;
  src: url("/fonts/x12y16pxMaruMonica.woff") format("woff");
  font-display: swap;
  font-weight: 400;
}

/* ibm-plex-sans-thai-500 - latin_latin-ext_thai */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ibm-plex-sans-thai-v10-latin_latin-ext_thai-500.woff2') format('woff2');
}

/* ibm-plex-sans-jp-500 - japanese_latin */
@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans JP';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ibm-plex-sans-jp-v5-japanese_latin-500.woff2') format('woff2');
}

  /* body */

  * {
    box-sizing:border-box;
  }
  
  html,body {
    padding:0;
    margin:0;
    width:100%;
    height: 100%;
    background-image:
      linear-gradient(90deg, #02041b 0%, #04092d 5%, #060d3b 10%, #071147 15%, #091452 20%, #09165e 25%, #09196b 30%, #091b78 35%, #071e86 40%, #0021a5 50%, #052095 54.9%, #071e86 59.8%, #091b78 64.7%, #09196b 69.6%, #09165e 74.5%, #091452 79.4%, #071147 84.3%, #060d3b 89.2%, #02041b 99%);
    background-attachment:fixed;
    color:white;
    font-family: "Rodin", 'IBM Plex Sans Thai', 'IBM Plex Sans JP', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  h1 {
    font-family: maru;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
    text-decoration: underline solid 3px var(--pink);
    text-shadow: 2px 2px black;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
  }

  h2 {
    font-family: maru;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin:4px 0 12px 0;
    text-decoration: underline solid 3px var(--blue);
    text-shadow: 2px 2px black;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 2;
    text-indent: 2em;
  }

  a {
    text-decoration: none;
    color: var(--pink);
    text-shadow: 0 0 5px var(--pink);
    transition: all 0.4s ease;
    &:hover {
      color: var(--green);
      text-shadow: 0 0 5px var(--green);
    }
  }

  b, strong {
    font-weight: 700;
    color: var(--orange);
  }

  em, i {
    font-style: italic;
    color: var(--yellow);
  }

  ul{
    margin: 0 0 0 0px;
    padding: 0 0 0 0rem;
    list-style-type: none;
  }
  
  li:before{
    content: url(images/plus.png);
    position: relative;
    top: -3px;
    margin-right: 10px;
  }

  dl {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  dt::before {
    content: ' ';
    display: inline-block;
    background: url('images/arrow-right-long.png') no-repeat; /* an image to help indicate that the header is collapsible */
    width: 12px; height: 12px; /* use the dimensions of the image */
    margin-right: 8px; /* add some space between the text and the image */
  }

  dd {
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 52px;
    padding-top: 6px;
  }

  dd::before {
    content:"";
    position:absolute;
    margin-left: -30px;
    margin-top: -4px;
    width:20px;
    height:22px;
    border-bottom:2px dotted #ccc;   
    border-left:2px dotted #ccc;   
  }

  summary {
    cursor: pointer; /* lets the user know your header is clickable */
    display: flex; /* if you replace the built in arrow, this will align the items next to each other */
    align-items: center; /* align the text and the replacement arrow vertically */
    font-size: larger;
  }
  
  summary::before {
    content: '';
    background: url('images/arrow-right-long.png') no-repeat; /* an image to help indicate that the header is collapsible */
    width: 12px; height: 12px; /* use the dimensions of the image */
    margin-right: 8px; /* add some space between the text and the image */
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: all 0.3s ease;
  }
  
  details[open] > summary::before {
    transform: rotate(90deg);
  }
  
  summary::-webkit-details-marker {
    display: none; /* hide the original arrow */
  }

  details span {
    display: block;
    margin-left: 20px;
  }

  img, picture, source {
    max-width: 100%;
  }

  figure {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    line-height: 1.1em;
    border: none;
    margin:0;
    padding:0;
    overflow: visible;
  }
  
  .right {
    float: right;
    margin-left: 10px;
    width: 30%;
  }
  
  .left {
    float: left;
    margin-right: 10px;
    width: 30%;
  }

  /* background */
  
  .grid-bg{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    mix-blend-mode:screen;
    background-image: 
      linear-gradient(var(--line-color), transparent 2px),
      linear-gradient(to right, var(--line-color), transparent 2px);
    background-attachment:fixed;
    background-size:
      100% var(--gird-height),
      var(--gird-width) 100%;
  }

  /* container that mimics soul hacker's textbox */

  .textbox {
    border: 3px solid #008AFF;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 2px 2px #000000, 0px 0px 10px 5px #000000;
    background: #000000;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgb(17, 63, 121, 0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgb(17, 63, 121, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgb(17, 63, 121, 0.5) 100%);
    padding: 1em;
    backdrop-filter: blur(2px);
  }

  /* container that mimics soul hacker's menu */

  .menubox {
    background: rgba(17,31,72,1);
    background: -moz-linear-gradient(top, rgba(17,31,72,1) 0%, rgba(38,57,111,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,31,72,1)), color-stop(100%, rgba(38,57,111,1)));
    background: -webkit-linear-gradient(top, rgba(17,31,72,1) 0%, rgba(38,57,111,1) 100%);
    background: -o-linear-gradient(top, rgba(17,31,72,1) 0%, rgba(38,57,111,1) 100%);
    background: -ms-linear-gradient(top, rgba(17,31,72,1) 0%, rgba(38,57,111,1) 100%);
    background: linear-gradient(to bottom, rgba(17,31,72,1) 0%, rgba(38,57,111,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111f48', endColorstr='#26396f', GradientType=0 );
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    border: outset 3px #4b66b4;
  }

  /* main container */

  main {
    width: 100%;
    max-width: 68em;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }

  /* container for hero */
 
  #hero {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: repeat(5, 1fr);
     grid-column-gap: 0px;
     grid-row-gap: 0px;
   }
   
   #hero > .div1 { grid-area: 1 / 1 / 6 / 4; }
   #hero > .div2 { grid-area: 2 / 3 / 4 / 6; }
   #hero > .div3 { grid-area: 4 / 4 / 6 / 6; display: flex; align-items: center; justify-content: center; }
    
   #hero img {
     max-width: 100%;
     height: auto;
   }

  /* page title */

  .title {
    margin-left: 60px;
    position: relative;
    display: grid;
    grid-template-rows: 170px 170px;
    grid-template-columns: 450px;
  }

  div.line > span {
    position: absolute;
    font-family: "Devil Summoner";
    font-weight: 400;
    font-size: 160px;
    letter-spacing: 2px;
    overflow: visible;
    padding: 0 5px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main-title {
    background: -webkit-linear-gradient(90deg, #06000e 0%, #341b80 23%, #48abe0 66%, #06effe 100%);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #020a6d;
  }
    
  .outline {
    text-shadow: 0 0 3px #ffffff,  0 0 4px #ffffff, 0 0 5px #1773ac, 0 0 6px #077bc4, 0 0 8px #0d6aa8, 0 0 10px #095aac, 0 0 12px #052b8a, 0 0 15px #310fac, 0 0 18px #2d1096, 0 0 20px #330f88, 0 0 25px #620f88;
  }

  /* links */

  .links {
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    border: outset 3px #4b66b4;
    background-color: #141b5c85;
    list-style-type: none;
    padding: 0;
    width: max-content;
    backdrop-filter: blur(2px);
  }

  .links li::before {
    display: none;
  }

  .links a {
    color: white;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 24px;
    &:last-child {
      color: var(--pink);
    }
    &:hover {
      color: var(--blue);
    }
  }

  .links li {
    padding: 10px 20px;
  }

  .links a:hover li {
    background-color: #43d0ff4d;
  }

  /* container for stats */

  .stats-top {
    display: grid;
    grid-template-columns: auto minmax(60px,100px) minmax(140px,170px) minmax(100px,140px) minmax(100px,130px);
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 1.5em;
    line-height: 1.25;
  }
    
  .stats-top > .div1 { grid-area: 1 / 1 / 2 / 2; }
  .stats-top > .div2 { grid-area: 1 / 5 / 2 / 6; }
  .stats-top > .div3 { grid-area: 2 / 2 / 3 / 3; }
  .stats-top > .div4 { grid-area: 2 / 3 / 3 / 4; }
  .stats-top > .div5 { grid-area: 3 / 2 / 4 / 3; }
  .stats-top > .div6 { grid-area: 3 / 3 / 4 / 4; }
  .stats-top > .div7 { grid-area: 2 / 4 / 3 / 5; }
  .stats-top > .div8 { grid-area: 2 / 5 / 3 / 6; }
  .stats-top > .div9 { grid-area: 3 / 4 / 4 / 5; }
  .stats-top > .div10 { grid-area: 3 / 5 / 4 / 6; }

  .stats-top .div1, .stats-top .div2 {
    display: flex;
    align-items: center;
  }

  .stats-top .div1 {
    background-image: linear-gradient(179deg,var(--blue) 0%, var(--blue) 0%,transparent 70%, transparent 100%);
    background-size:  100% 12%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 0%;
  }

  .stats-top .div1 span {
    margin-left: 3%;
  }

  .stats-top .div2 span {
    color: var(--blue);
    text-shadow: 0 0 8px var(--blue), 0 0 15px var(--blue), 0 0 25px var(--blue);
    margin-right: 5%;
  }

  .stats-top .div3, .stats-top .div5, .stats-top .div7, .stats-top .div9 {
    color: var(--blue);
  }

  .stats-top .div4 span, .stats-top .div6 span {
    color: var(--purple);
  }
    
  .stats-bottom {
    display: flex;
    height: 429px;
    margin-top: 32px;
    align-items: center;
    justify-content:space-evenly;
  }
  
  .stats-hexagon {
    width: 393px;
    height:353px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stats-hexagon img {
    position: absolute;
    top: 0;
    left: 0;
  }
   
  /* container for quick facts */
 
  #quick-facts {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: 280px 340px 240px;
     column-gap: 32px;
     row-gap: 32px;
   }
   
   #quick-facts > .div1 { grid-area: 1 / 1 / 2 / 3; }
   #quick-facts > .div2 { grid-area: 1 / 3 / 2 / 5; }
   #quick-facts > .div3 { grid-area: 1 / 5 / 2 / 7; }
   #quick-facts > .div4 { grid-area: 2 / 1 / 3 / 4; }
   #quick-facts > .div5 { grid-area: 2 / 4 / 3 / 7; }
   #quick-facts > .div6 { grid-area: 3 / 1 / 4 / 3; }
   #quick-facts > .div7 { grid-area: 3 / 3 / 4 / 5; }
   #quick-facts > .div8 { grid-area: 3 / 5 / 4 / 7; }

   #quick-facts > div {
    overflow-y: scroll;
   }

   .stamps, .blinkies {
    text-align: center;
    line-height: 0;
    font-size:0;
    margin: 1em 0;
   }

   #quick-facts img, #quick-facts picture, #quick-facts source{
    display: inline;
    padding: 0;
    margin: 0;
  }

  .stamps picture, .stamps img, .stamps source{
    width: 99px;
    object-fit: none;
  }

   .blinkies picture, .blinkies img, .blinkies source{
    width: 150px;
    height: 20px;
  }

  #quick-facts .div2, #quick-facts .div6, #quick-facts .div8 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    line-height: 0;
    padding: 15px;
  }

  /* progress bars modified from https://codepen.io/pix3l/pen/nxoWVZ */

  .languages {
    width: auto;
    margin: 0 auto;
    text-align: left;
    font-family: maru;
    font-size: 16px;
    padding: 16px;
  }

  .languages .label {
    margin-left: 2px;
  }

  .health {
    margin: 2px 0;
    height: 9px;
    width: 100%;
    background-color: #0a0a31;
    border: 2px solid #000;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, .9), inset 0px -5px 5px rgba(255, 255, 255, .05);
    position: relative;
 }
  .health .progress-bar {
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    margin-left: 1px;
    min-width: 13px;
 }

  .health .shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(223,71,45,1);
    background: -moz-linear-gradient(left, rgba(223,71,45,1) 0%, rgba(250,243,38,1) 25%, rgba(50,200,83,1) 50%, rgba(25,106,254,1) 75%, rgba(241,253,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(223,71,45,1)), color-stop(25%, rgba(250,243,38,1)), color-stop(50%, rgba(50,200,83,1)), color-stop(75%, rgba(25,106,254,1)), color-stop(100%, rgba(241,253,255,1)));
    background: -webkit-linear-gradient(left, rgba(223,71,45,1) 0%, rgba(250,243,38,1) 25%, rgba(50,200,83,1) 50%, rgba(25,106,254,1) 75%, rgba(241,253,255,1) 100%);
    background: -o-linear-gradient(left, rgba(223,71,45,1) 0%, rgba(250,243,38,1) 25%, rgba(50,200,83,1) 50%, rgba(25,106,254,1) 75%, rgba(241,253,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(223,71,45,1) 0%, rgba(250,243,38,1) 25%, rgba(50,200,83,1) 50%, rgba(25,106,254,1) 75%, rgba(241,253,255,1) 100%);
    background: linear-gradient(to right, rgba(223,71,45,1) 0%, rgba(250,243,38,1) 25%, rgba(50,200,83,1) 50%, rgba(25,106,254,1) 75%, rgba(241,253,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df472d', endColorstr='#f1fdff', GradientType=1 );
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 -3px 4px rgba(63, 29, 45, 0.3);
 }

 /* container for history */

 #history div:first-child {
  height: 75vh;
  overflow-y: scroll;
 }

 /* container for favorites */

 #favorites {
  display: grid;
  grid-template-columns: 1fr 0;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0;
  grid-row-gap: 32px;
  position: relative;
}
  
 #favorites > .div1 { grid-area: 1 / 1 / 2 / 2; }
 #favorites > .div2 { grid-area: 2 / 1 / 3 / 2; }
 #favorites > .div3 { grid-area: 1 / 2 / 3 / 3; }

 /* favorites */

.favoritesContainer{
  width: 100%;
  border-radius: 12px;
}

.content input{
  display: none;
}

.content{
  height: 80vh;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.content .list{
  flex: 0 0 16%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content .list label, .content .list a{
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  font-weight: 500;
  color: white;
  padding-left: 25px;
  transition: all 0.3s ease;
  z-index: 10;
  text-shadow: none;
  overflow: hidden;
}

#general:checked ~ .list label.general,
#games:checked ~ .list label.games,
#other:checked ~ .list label.other,
#characters:checked ~ .list label.characters{
  color: #22272C;
}

.content .slider{
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  transition: all 0.3s ease;
  background: #43d0ffc0;
}

#general:checked ~ .list .slider{
  top: 0;
}

#games:checked ~ .list .slider{
  top: 60px;
}

#other:checked ~ .list .slider{
  top: 120px;
}

#characters:checked ~ .list .slider{
  top: 180px;
}

.content .text-content{
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.content .text{
  display: none;
  height: 100%;
}

.content .text-content .general{
  display: block;
}

#general:checked ~ .text-content .general,
#games:checked ~ .text-content .games,
#other:checked ~ .text-content .other,
#characters:checked ~ .text-content .characters{
  display: block;
}

.general div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#games:checked ~ .text-content .general,
#other:checked ~ .text-content .general,
#characters:checked ~ .text-content .general{
  display: none;
}

.content .list label:hover, .content .list a:hover{
  color: #43d0ff;
}

/* image gallery for favorites */

.gallery-columns {
  width: 100%;
  margin: 0 auto;
  line-height: 1.5em;
  -moz-column-count:3;
  -moz-column-gap: 8px;
  -moz-column-width: 30%;
  -webkit-column-count:3;
  -webkit-column-gap: 8px;
  -webkit-column-width: 30%;
  column-count: 3;
  column-gap: 8px;
  column-width: 30%;
}

@media screen and (max-width: 900px) {
  .gallery-columns {
      -moz-column-count: 2;
      -moz-column-gap: 8px;
      -moz-column-width: 45%;
      -webkit-column-count: 2;
      -webkit-column-gap: 8px;
      -webkit-column-width: 45%;
      column-count: 2;
      column-gap: 8px;
      column-width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-columns {
      -moz-column-count: 1;
      -moz-column-gap: 8px;
      -moz-column-width: 100%;
      -webkit-column-count: 1;
      -webkit-column-gap: 8px;
      -webkit-column-width: 100%;
      column-count: 1;
      column-gap: 8px;
      column-width: 100%;
  }
}

.image-container {
  position: relative;
  overflow: clip;
  margin-bottom: 8px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--textbox);
  max-height: 100%;
  overflow-y: auto;
}

.image-container:hover .image, .image-container:active .image {
  opacity: 0.3;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px);
}

.image-container:hover .middle,  .image-container:active .middle{
  opacity: 1;
}

.gallery-text {
  color: white;
  padding: 8px 12px;
}

 /* footer */

 #favorites .div2 {
  margin-bottom: 32px;
  padding: 0.5em 1em;
 }

 /* nemissa standing */

 #favorites .div3 {
  font-size: 0;
 }

.nemissastanding {
  position: absolute;
  right: -190px;
  bottom: 0;
}

.nemissastanding img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 88dvh;
  bottom: 0;
}