html,
body {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: auto 0px; 
  padding: 10px;
  font-size: 0.9em;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--link);
  background-image: linear-gradient(var(--link-hover-background), var(--link-hover-background));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 40%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  color: var(--link-hover);
  background-size: 100% 100%;
}

a:has(img) {
  background-image: unset;
}

img {
  display: inline;
}

li {
  list-style-image: url(/main/images/heartgreen.gif);
  line-height: 1.5;
  padding: 1px 0px 1px 5px;
  margin: 0;
}

li:nth-child(even) {
  list-style-image: url(/main/images/heartpurple.gif);
}

ul {
  padding: 0 0 0 9px;
  margin: 0 0 0 0px;
}

fieldset {
  clear: both;
  border: var(--window-border);
  margin-bottom: 1em;
  padding: 10px;
}

blockquote {
  border-left: 10px solid var(--link-hover-background);
  margin: 0em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
    
/*----- return to top -----*/

.top {
  --offset: 50px; 

  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  
  /* visual styling */
  width:45px;
  aspect-ratio:1;
  background-color: var(--pagetop-background);
  background-image:linear-gradient(var(--pagetop-hover),var(--pagetop-hover));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border:var(--pagetop-border);
  border-radius: var(--pagetop-border-radius);
  box-shadow:5px 5px 0px rgba(150, 138, 255, 0.4);
  -webkit-box-shadow:5px 5px 0px rgba(150, 138, 255, 0.4);
}

.top:before {
  content:"";
  position:absolute;
  inset:30%;
  transform:translateY(20%) rotate(-45deg);
  border-top:var(--pagetop-arrow);
  border-right:var(--pagetop-arrow);
}

.top:hover, .top:focus-visible {
  background-size: 100% 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--window-text-background-dark);
  }
  
  a {
    position: relative;
    text-decoration: none;
    color: var(--link-dark);
    background-image: linear-gradient(var(--link-hover-background-dark), var(--link-hover-background-dark));
  }

  blockquote {
    border-left: 10px solid var(--link-hover-background-dark);
  }

  .top {
    background-color: var(--pagetop-background-dark);
    border:var(--pagetop-border-dark);
    box-shadow:5px 5px 0px rgba(69, 48, 255, 0.6);
    -webkit-box-shadow:5px 5px 0px rgba(69, 48, 255, 0.6);
  }

  .top:before{
    border-right:var(--pagetop-arrow-dark);
    border-top:var(--pagetop-arrow-dark);
  }
}