a {
    position: relative;
    text-decoration: none;
    color:var(--link);
    background-image: linear-gradient(var(--link-hover-background), var(--link-hover-background));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% 40%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
      &:hover {
        color: var(--link-hover);
        background-size: 100% 100%;
      }
    }

  #pagetop::before{
    content: '';
    background-color: var(--pagetop-hover-background);
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  
  #pagetop:hover::before {
      bottom: 0;
      height: 100%;
    }

    body {
      padding: 10px;
      font-size: 0.9em;
    }

    img {
      display: inline;
    }

     li {
      list-style-image: url(/main/images/heartgreen.gif);
      line-height: 1.5;
      padding: 1px 0px 1px 5px;
      margin: 0;
  }
  
  li:nth-child(even) {
      list-style-image: url(/main/images/heartpurple.gif);
  }
  
   ul {
      padding: 0 0 0 9px;
      margin: 0 0 0 0px;
  }

  @media (prefers-color-scheme: dark) {
    a {
      position: relative;
      text-decoration: none;
      color:var(--link-dark);
      background-image: linear-gradient(var(--link-hover-background-dark), var(--link-hover-background-dark));
    }
  }