 .content {
    /* uncomment when done writing so starts collapsed*/
   display: none;
   overflow: hidden;
 }

 .collapsible:before {
    content: url("/resources/images/plus.png");
    display: inline;
    margin-right: 5px;
}

.active:before {
    content: url("/resources/images/min.png");
}

.collapsible.h2:before {
     filter: invert(1);
 }

 button {
   margin: 0;
   padding: 0;
    cursor: pointer;
    width: 100%;
    display: inline;
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.collapsible{
   display: inline;
}

@media (prefers-color-scheme: dark) {
  .collapsible.h2:before {
       filter: invert(0);
   }

.collapsible.h3:before {
     filter: invert(1);
 }
}