/*----- base formatting -----*/

html, body, div, span, applet, object, iframe,
h1, h3, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----- variables -----*/

:root {
    
    /*----- background -----*/
    --page-background-color:#f3e9ff;

	/*----- body -----*/
	--text: #444444;
	--link: #968aff;
	--link-hover: rgba(120, 197, 161, 1);
	--link-hover-background: rgba(157, 230, 196, 0.3);
	--bold: #78c5a1;
	--italic: rgba(150, 138, 255, 0.1);
	--marker: rgba(150, 138, 255, 0.2);
	--marker1: rgba(150, 138, 255, 0.2);
	--marker2: white;
	--highlight-text: #000000;
	--highlight-background: #b5ffdc46;
    --h1-text:#444444;
    --h1-shadow:#78c5a167;
    --h3-underline:rgba(150, 138, 255, 0.3);
    --h2-color:rgb(37, 37, 37);
    --h2-background: rgba(181, 255, 220, 0.6);
	--color-code: rgba(187, 187, 187, 0.2);
    
    /*----- pagetop button-----*/
    --pagetop-background: #f7f7f7;
    --pagetop-hover:rgba(150, 138, 255, 0.4);
    --pagetop-border:solid 1px rgba(150, 138, 255, 0.9);
    --pagetop-border-radius: 10px;
    --pagetop-arrow:solid 4px rgba(150, 138, 255, 0.9);
    
    /*----- sidebar -----*/
    --sidebar-link-color: #444444;
    --sidebar-hover-bg-color: rgba(150, 138, 255, 0.4);
    
    /*----- windows -----*/
    --window-border: solid 1px rgba(150, 138, 255, 0.4);
    --window-container-background: #cac6cb;
    --window-title-background: rgb(143, 142, 143);
    --window-title-background-clicked: rgba(143, 142, 143, 1);
    --window-text-background: #f7f7f7;
    --window-shadow: 10px 10px 0px rgba(150, 138, 255, 0.4);
    --window-padding: 10px;
    --window-border-radius: 5px;
  
	/*----- scrollbar -----*/
	--scrollbar: #b5b5ff;
	--scrollbar-width: 0px;

    /*-- dark mode --*/
    --page-background-color-dark:rgb(19, 19, 19);
    --window-container-background-dark: #161616;
    --window-text-background-dark: #1f1f1f;
    --window-shadow-dark: 10px 10px 0px rgba(69, 48, 255, 0.6);
    --window-border-dark: solid 1px rgb(69, 48, 255);
    --window-title-color-dark:#ddd;
    --window-title-background-dark:rgba(69, 48, 255, 0.7);
    --window-title-background-clicked-dark:rgba(69, 48, 255, 1);
    --link-dark: rgb(179, 166, 255);
	--link-hover-background-dark: rgba(34, 126, 83, 121);
    --text-dark: #ddd;
    --sidebar-link-color-dark: #ddd;
    --pagetop-background-dark: rgb(19, 19, 19);
    --pagetop-border-dark:solid 1px rgb(69, 48, 255);
    --pagetop-arrow-dark:solid 4px rgb(125, 110, 255);
  }
  
  /*----- fonts -----*/
  
  @font-face {
    font-family: 'Press Start';
    src: url('/fonts/PressStartReg.woff2') format('woff2'),
        url('/fonts/PressStartReg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'maru';
    src: url('/fonts/x12y16pxMaruMonica.woff2') format('woff2'),
        url('/fonts/x12y16pxMaruMonica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'nineteen93';
    src: url('/fonts/Nineteen-Ninety-Three.woff2') format('woff2'),
        url('/fonts/Nineteen-Ninety-Three.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
  /*----- text highlight -----*/
  
  ::selection {
	color: var(--highlight-text);
	background: var(--highlight-background);
  }
  
  ::-moz-selection {
	color: var(--highlight-text);
	background: var(--highlight-background);
  }
  
  /*----- webkit scrollbar -----*/
  
  ::-webkit-scrollbar {
	width: var(--scrollbar-width);
	height: 0;
	background-color: var(--main-box-background);
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar);
	border-radius: var(--scrollbar-width);
  }
  
  ::-webkit-scrollbar-track {
	background-color: var(--main-box-background);
	border-radius: var(--scrollbar-width);
  }
  
  ::-webkit-scrollbar-corner {
	background: var(--main-box-background);
  }
  
/*----- tooltips -----*/

.tippy-box[data-theme~='mine'] {
    border-radius: var(--window-border-radius);
    background: rgba(150,138,255,1);
    background: -moz-linear-gradient(left, rgba(150,138,255,1) 0%, rgba(103,250,179,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(150,138,255,1)), color-stop(100%, rgba(103,250,179,1)));
    background: -webkit-linear-gradient(left, rgba(150,138,255,1) 0%, rgba(103,250,179,1) 100%);
    background: -o-linear-gradient(left, rgba(150,138,255,1) 0%, rgba(103,250,179,1) 100%);
    background: -ms-linear-gradient(left, rgba(150,138,255,1) 0%, rgba(103,250,179,1) 100%);
    background: linear-gradient(to right, rgba(150,138,255,1) 0%, rgba(103,250,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#968aff', endColorstr='#67fab3', GradientType=1 );
    color: white;
    font-family: silkscreen;
    font-size: 16px;
}

.tippy-box[data-theme~='mine'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgba(150,138,255,1);
}

.tippy-box[data-theme~='mine'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgba(103,250,179,1);
}
  
/*----- body -----*/

html{
    font-size:100%;
    height:100dvh;
    width: 100dvw;
}

a:focus, iframe:focus, #leftcolumn-inner a:focus, summary:focus {
    outline: 4px solid var(--link);
    z-index: 99;
    position: relative;
}

body{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    color:var(--text);
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size:1em;
    line-height:1.5;
    text-align:left;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

#sakurabox{
    z-index: 200;
}
  
/*----- page layout -----*/
#page{
    background-color: var(--page-background-color);
    background-image: url('/main/images/bg.png');
    height: 100%;
}

#wrapper{
    margin:0 auto;
    text-align:left;
    width:820px;
}

header{
    padding-bottom:1em;
}

.if-container{
    display:inline-block;
    margin:0 auto;
    padding: 0 0 0.6em 0;
    height:100%;
    width:100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
}

.ifrm{
    border:none;
    display:block;
    height:100%;
    width:100%;
}

#contents{
    position:relative;
    width:100%
}

#rightcolumn{
    background:var(--window-text-background);
    border: var(--window-border);
    box-shadow: var(--window-shadow);
    border-radius: var(--window-border-radius);
    float:right;
    padding:10px;
    width:550px;
    height: 90dvh;
}

#leftcolumn{
    background:var(--window-text-background);
    border: var(--window-border);
    box-shadow: var(--window-shadow);
    border-radius: var(--window-border-radius);
    float:left;
    width:250px;
}

#leftcolumn-inner{
    height: auto;
    padding:var(--window-padding);
    overflow:auto;
    -webkit-overflow-scrolling:touch;
}

footer{
    clear: both;
    float:inline-end;
    margin-top: 10px;
    & a:hover, a:focus{
        color: white;
    }
}
    
/*----- sidebar -----*/

#menu{
    display:block;
    margin:0 auto;
}

nav li a,nav li span{
    color:var(--sidebar-link-color);
    font-family: nineteen93, maru; 
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    display:block;
    padding:5px 10px;
    position:relative;
    border-radius:5px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

nav img {
    display: inline;
    margin-right: 10px;
    vertical-align: middle!important;
}

nav li a:hover, nav li a:focus,nav li span:hover, nav li span:focus{
    background:var(--sidebar-hover-bg-color);
    border-radius:5px;
    color:var(--window-text-background);
}

.sub-menu{
display:none;
margin:0;
overflow:hidden
}

.sub-menu li{
text-indent:1em
}

.sub-menu li a:after{
display:none
}

nav li span:after{
    border-top:solid 2px var(--sidebar-link-color);
    border-right:solid 2px var(--sidebar-link-color);
    content:"";
    display:block;
    margin-top:-5px;
    width:5px;height:5px;
    top:50%;right:10px;
    position:absolute;
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    transition:.3s
}

nav li span:hover:after, nav li span:focus:after {
    border-top:solid 2px var(--window-text-background);
    border-right:solid 2px var(--window-text-background);
}

nav li span.open:after{
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
}

#open{display:none}
  
/*----- index -----*/
#index{
margin:20px auto;
padding:20px
}
.indexbox{
background:#fff;
border:2px solid #000;
margin:0 auto 20px;
padding:20px;
text-align:left;
width:580px
}
  
/*----- text decoration -----*/

h1{
    font-family: 'Press Start';
    font-size:24px;
    font-weight:normal;
    text-transform: uppercase;
    line-height: 2em;
    color: var(--h1-text);
    text-shadow: 2px 2px 0px var(--h1-shadow);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

h3,
.h3 {
    font-family: silkscreen, nineteen93, maru;
    font-weight:700;
    font-size: 16px;
    text-decoration: underline solid var(--h3-underline) 3px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    padding-bottom: 0.3em;
}

h2,
.h2 {
    font-family: nineteen93, maru;
    font-weight:normal;
    font-size: 18px;
    line-height: 2em;
    text-align: right;
    vertical-align: middle;
    padding: 2px 10px;
    color: var(--h2-color);
    background-color: var(--h2-background);
    margin: 4px 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

dt{
    color:var(--bold);
    font-weight:700;
    float:left;
    margin:0 0 5px;
    width:12em
}

dd{
    border-bottom:1px solid var(--text);
    margin:0 0 5px 13em;
}

dl:after{
    content:"";
    clear:both;
    height:0;
    display:block;
    visibility:hidden
}

em {
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(var(--italic), var(--italic));
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: 100% 6px;
}

a {
    color: var(--link);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    &:hover,:focus{
        color: var(--link-hover);
    }
}

b, strong {
    color: var(--bold);
    font-weight: 700;
}

input,textarea{
    font-family: silkscreen;
    font-size: 8px;
    background:#cac6cb23;
    border:1px solid var(--text);
    color:var(--text);
    margin:0;
    resize: none;
}

textarea{
    height:50px;
    border: solid 1px rgba(150, 138, 255, 0.9);
}

hr{
    display:block;
    border:0;  
    border-top:1px dashed var(--text);
    margin:1em 0;
    padding:0;
    height:1px;
}

nav s, nav strike{
    text-decoration-thickness: 2px;
}

.marker {
  background: var(--marker);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--marker2)), color-stop(0.49, var(--marker2)), color-stop(1, var(--marker1)), color-stop(1, var(--marker1)));
  background: -webkit-linear-gradient(transparent 50%, var(--marker1) 0%);
  background: linear-gradient(transparent 50%, var(--marker1) 0%)
}

.ln01{
    border-left:8px solid var(--h2-background);
    margin:8px 0;
    padding:3px
}

.ln02{
    border-left:8px solid var(--marker);
    margin:8px 0;
    padding:3px
}

.textbox{
    border:var(--window-border);
    margin:10px 0;
    padding:3px;
    text-align:center;
}

.title{
    color:var(--bold);
    font-size:1.2em;
    font-weight:700;
    margin:2em 0;
    text-align:right;
    text-shadow:2px 2px 1px rgba(222,222,222,.6)
}
.txt{
    border-left:1px dotted var(--text);
    margin:1em;
    padding:0 0 0 1em
}

.window_description li {
    list-style-image: url(/main/images/heartgreen.gif);
    line-height: 1.5;
    padding: 1px 0px 1px 5px;
    margin: 0;
}

.window_description li:nth-child(even) {
    list-style-image: url(/main/images/heartpurple.gif);
}

.window_description ul {
    padding: 0 0 0 9px;
    margin: 0 0 0 0px;
}

.mobilewarning{display: none;}

/*--------------------------------------------------------
横幅1040pxで切り替え
1040px = #pageの(paddingx2=40)+#wrapperのwidth
--------------------------------------------------------*/
@media screen and (max-width: 840px){
#wrapper{width:100%}
#rightcolumn{width:65%}
#leftcolumn{width:32%;}
#leftcolumn input,#leftcolumn textarea{width:80%}
.window_container{display: none;}
}
/*--------------------------------------------------------
スマホ、タブレット用
横幅600pxで切り替え
--------------------------------------------------------*/
@media screen and (max-width: 639px){
body{font-size:1.2em}
#wrapper{position:relative;width:100%}
header{position:relative;padding-right:70px}/* 開閉ボタン分右に余白 */
#contents{position:static}
#leftcolumn{float:none;border:0}
#leftcolumn-inner{padding:0}
#rightcolumn{float:none;width:100%}
footer{text-align:center}
.indexbox{width:auto}
dt{float:none;clear:none;width:auto}
dd{margin-left:20px}
img{max-width:100%;height:auto} /* 画像の縮小表示 */

/* スライド */
#leftcolumn{
color:#fff;
max-height: 100dvh;
overflow-y: scroll;
background:rgba(0,0,0,.9); /* 背景色 */
padding:20px 20px 20px; /* メニューボタン分空ける */
width:300px; /* (*1)同じにする */
transition:all .3s;
transform:translate(300px); /* (*1)同じにする */
-ms-transform:translate(300px); /* (*1)同じにする */
-webkit-transform:translate(300px); /* (*1)同じにする */
position:fixed;
top:0;right:0;
z-index:1000
}
#leftcolumn h2{
    text-align: left;
}
#leftcolumn a{
color:#fff
}
#leftcolumn.open{
transform:translate(0);
-ms-transform:translate(0);
-webkit-transform:translate(0)
}
 /* メニュー */
nav li a,nav li span{
color:#fff;
padding:10px; /* 一列の高さはここで調節 */
}
nav li span:after{
border-top:solid 2px #fff; /* メニュー「>」の色 */
border-right:solid 2px #fff; /* メニュー「>」の色 */
}
/* メニューを開くボタン */
#open{
color:#000;
display:inline-block;
margin:0 5px;
position:absolute;
text-align:center;
height:60px;width:60px;/* 大きさ */
top:0;right:0;/* headerを基準にした位置 */
z-index:1001
}
.open-text{position:absolute;bottom:0;left:0;width:100%}
#open .close + .open-text{color:#fff}/* 開いた時の文字色 */
#open-icon,#open-icon:before,#open-icon:after{background:#000}/* 線の色 */
#open-icon{display:block;margin:-1px 0 0 -10px;position:absolute;top:20px;left:50%;height:2px;width:20px}
#open-icon:before,#open-icon:after{content:"";display:block;position:absolute;top:50%;left:0;height:2px;width:20px;transition:.3s}
#open-icon:before{margin-top:-8px}
#open-icon:after{margin-top:6px}
#open .close{background:transparent}
#open .close:before,#open .close:after{margin-top:0}
#open .close:before{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);background:#fff}/* 開いた時の線の色 */
#open .close:after{-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg);background:#fff}/* 開いた時の線の色 */
.mybutton{display: none;}
.mobilewarning{display:block;}
}

@media (prefers-color-scheme: dark) {
    body, input, textarea, #s-m-t-tooltip, h3, .h3 {
        color: var(--text-dark);
    }

    a {
        color: var(--link-dark);
    }

    h1 {
        color: var(--sidebar-link-color-dark);
    }

    #page{
        background-color: var(--page-background-color-dark);
        background-image: url(/main/images/bgdark.png);
    }

    #rightcolumn, #leftcolumn {
        background: var(--window-text-background-dark);
        border: var(--window-border-dark);
        box-shadow: var(--window-shadow-dark);
    }

    nav li a,nav li span{
        color:var(--sidebar-link-color-dark);
    }

    #open-icon,#open-icon:before,#open-icon:after{background:#fff}

    img {
        opacity: 0.8;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
}

@media (prefers-reduced-motion) {
  * {
    animation-delay: -1s !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
  }

    #page {
        background-image: none !important;
    }
}