/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap'); */

@font-face {
font-family: "IBM Plex Sans Thai";
src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
}

* {
font-family: "IBM Plex Sans Thai", sans-serif;
  }

.title {
font-weight:600;
  padding: 0.5em 0 0 0;
    position: relative;
    color: #968aff!important;
    /* text-shadow: 2px 2px 1px rgba(150, 138, 255, 0.3); */
}

.title a{
    color: #968aff!important;
    text-decoration: none;
}

.item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item > :nth-child(1) {
  order: 1;
}

.item > :nth-child(3) {
  order: 2;
}

.item > :nth-child(2) {
  border-left: 10px solid rgba(157, 230, 196, 0.3);
  margin: 0em 10px;
  padding: 0.5em 10px;
  order: 3;
  flex: 1 1 100%;
}

.item > :nth-child(1), .item > :nth-child(3) {
  display: inline;
}

@media (prefers-color-scheme: dark) {
* {color:#ddd;}
.title {color: #968aff!important;}
}