@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Noto+Serif+JP:wght@800&family=Playfair+Display:wght@800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --padding: 20px;
    --section-width: 580px;
    --section-height: 400px;

    --transition: all 0.5s ease;

    --backdrop-background-color: rgb(31, 31, 31);
    --backdrop-background-color-hover: rgb(173, 23, 23);

    --card-background-color: white;
    --card-background-color-darkmode: rgb(70, 70, 70);
    --card-background-color-hover: rgb(18, 18, 18);
    --card-quote-transition-time: 0.5s;
    --card-desc-transition-time: 2s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

svg {
    /* display: none; */
    position: absolute;
    width: 0;
    height: 0;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: calc(var(--padding) * 10) 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--padding) * 10) calc(var(--padding) * 11);
    justify-content: center;
    align-content: center;
    background-color: black;
    font-family: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(135deg, #1c1a1a 0%, #080707 100%);
}

b, strong {
    font-weight: 800;
}

body::after {
    position: fixed;
    left: 0;
    top: 0;
    content: '';
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 100%;
    background: #230303;
    filter: url(#noiseFilter);
    mix-blend-mode: overlay;

}

section {
    display: grid;
    width: 80%;
    max-width: var(--section-width);
    height: var(--section-height);
    grid-template-columns: var(--padding) 1fr 3fr 6fr var(--padding);
    grid-template-rows: var(--padding) 0.5fr 6fr 2fr var(--padding) var(--padding);
    grid-auto-flow: row;
    transition: var(--transition);

    /* transform-style: preserve-3d; */
    /* transform: perspective(600px); */

    &:hover {

        .gif {
            opacity: 1;
            transform: translateX(-75%);
            filter: contrast(1) blur(0px) grayscale(0) drop-shadow(10px 10px 0px rgba(0, 0, 0, 1));
        }

        .card {
            transition: var(--transition);
            transform: translate3d(calc(0.5 * var(--padding)), 0px, 0);
            /* background-color: var(--card-background-color-hover); */
        }

        .quote {
            &::before {
                width: 0;
                transform: translateX(10px);
                transition: var(--transition);
            }

            &:after {
                opacity: 0;
                transform: translateX(10px);
                transition: var(--transition);
            }
        }

        .doll {
            width: 110%;
            height: 130%;
            filter: contrast(1.7) blur(0px) grayscale(1) drop-shadow(15px 15px 0px rgba(0, 0, 0, 1));
            transition: var(--transition);
        }
    }
}

.backdrop {
    grid-area: 3 / 1 / 7 / 5;
    background-color: var(--backdrop-background-color);
    transition: var(--transition);
    z-index: 0;
}

.gif {
    grid-area: 1 / 2 / 6 / 4;
    position: absolute;
    opacity: 0;
    translate: 0 -10%;
    transform-origin: bottom;
    filter: contrast(2) blur(10px) grayscale(1) drop-shadow(10px 10px 0px rgba(0, 0, 0, 1));
    overflow: hidden;
    transition: var(--transition);
    pointer-events: none;
    width: 240px;
    height: 350px;

    /* box-shadow: 10px 10px 0px rgb(0, 0, 0); */
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}

.card {
    transition: var(--transition);
    grid-area: 2 / 3 / 5 / 6;
    background-color: var(--card-background-color);
    z-index: 1;
}

.doll {
    grid-area: 1 / 2 / 6 / 4;
    z-index: 2;
    box-sizing: border-box;
    cursor: pointer;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.323));
    position: relative;
    width: 100%;
    height: 110%;
    object-fit: cover;
    object-position: top;
    place-self: end center;
    transition: var(--transition);
    filter: contrast(1) blur(0px) grayscale(0) drop-shadow(10px 10px 0px rgba(0, 0, 0, 1));
    transform: translateX(-5%);
}

.textbox {
    grid-area: 2 / 4 / 5 / 6;
    z-index: 3;
    padding: var(--padding);
    display: grid;
    overflow-x: visible;
    mix-blend-mode: difference;
    position: relative;

    &>* {
        grid-area: 1/1;
        color: white;
    }

    .quote {
        opacity: 1;
        padding: calc(var(--padding) * 0.5) 0;
        font-size: 1.3rem;
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: italic;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -webkit-font-smoothing: subpixel-antialiased;
        height: 200px;
        overflow-y: hidden;
        /* width: 110%; */
        /* overflow-x: visible; */
        /* transform: translateX(-5%); */
        margin-left: -10px;
        margin-right: 10px;
        /* position: relative; */

        &:before {
            position: absolute;
            display: block;
            content: "";
            bottom: 7.4rem;
            /* right: var(--padding); */
            right: 0;
            height: 1px;
            width: 100%;
            background: white;
            transition: width .5s ease, background-color .5s ease;
        }

        &:after {
            position: absolute;
            display: block;
            font-family: "Playfair Display", serif;
            font-weight: 800;
            font-style: normal;
            content: "”";
            color: rgba(255, 255, 255, 1);
            font-size: 8rem;
            line-height: 0;
            bottom: 6.6rem;
            right: 5px;
            transition: var(--transition);
        }
    }

    .desc {
        padding: 0;
        overflow-y: scroll;

        *+* {
            margin-top: 1rem;
        }
    }
}

.name {
    grid-area: 4 / 4 / 5 / 6;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translate(-20px, -20px);

    z-index: 4;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    mix-blend-mode: exclusion;
    color: white;
    /* color: transparent;
    -webkit-text-stroke: 2px white; */
    font-family: "Playfair Display", "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media (prefers-color-scheme: dark) {
    :root {
        --card-background-color: var(--card-background-color-darkmode);
    }

    .backdrop {
        opacity: 0.7;
    }

    img,
    picture {
        opacity: 0.9
    }
}